<div class="mt-4">
    <form method="POST" action="">
        <div class="mb-3">
            <label for="search-input" class="form-label">Từ khóa tìm kiếm</label>
            <input type="text" name="q" class="form-control" id="search-input" placeholder="Nhập từ khóa ...">
            <div id="searchHelp" class="form-text">Nhập mọi thứ bạn cần tìm vào đó, chúng tôi sẽ tìm giúp bạn!</div>
        </div>

        <div class="mb-3">
            <label for="gender-input" class="form-label">Giới tính</label>
            <select name="gender" class="form-control" id="gender-input">
                <option value="">-- Chọn giới tính --</option>
                <option value="male">Nam</option>
                <option value="female">Nữ</option>
            </select>
        </div>
        
        <button type="submit" class="btn btn-primary">Tìm Kiếm</button>
</form>
</div>